body {
    background-color: black;
    color: white; 
    font-family: 'Gayathri', sans-serif;
}

.dark-box {
    background-color: black;
    color: white;
}

#drum {
    position: absolute;
    top: 0;
}